# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Override the above by allowing certain files
!example.tfvars

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Include override files you do not wish to ignore
# override.tf
# override.tf.json
# *_override.tf
# *_override.tf.json

# Include terraform override files you do not wish to ignore:
# override.tf
# override.tf.json
# *_override.tf
# *_override.tf.json

# Include merge files you do not wish to ignore:
# .terraformrc
# terraform.rc

# Ignore CLI configuration files
.terraformrc
terraform.rc